<div class="hero">
	<div class="container">
		<div class="callout">
			<h1>Beers you never knew you'd love</h1>
			<h2>and a few old favorites</h2>
			<p>BeerBox delivers a hand-built crate of America’s finest craft brew to your door every month. Let us know how you like it, and next month’s haul will be tailored to your tastes. Think Pandora for your pint glass.</p>
			<a href="#" class="cta-button">Get Started</a>
		</div>
	</div>
</div>

<div class="logo-rail row">
	<%= image_tag "logostrip.png" %>
</div>

<!--
<div id="welcome">
  <h1>Membership Site</h1>
  <h3>Learn to build a successful subscription site.</h3>
</div>

<div class="container">
<div class="row plans">
  <div class="col-sm-2 well">
    <div class="plan"><h2>Silver</h2></div>
    <ul class="list-unstyled">
      <li>One lesson a month</li>
    </ul>
    <h3>$9/month</h3>
    <%= link_to 'Subscribe', new_user_registration_path(:plan => 'silver'), :class => 'btn btn-primary' %> 
  </div>
  <div class="col-sm-2 well featured">
    <div class="plan featured-plan"><h2>Gold</h2></div>
    <ul class="list-unstyled">
      <li>Ten lessons a month</li>
    </ul>
    <h3>$19/month</h3>
    <%= link_to 'Subscribe', new_user_registration_path(:plan => 'gold'), :class => 'btn btn-primary' %> 
  </div>
  <div class="col-sm-2 well">
    <div class="plan"><h2>Platinum</h2></div>
    <ul class="list-unstyled">
      <li>Thirty lessons a month</li>
    </ul>
    <h3>$29/month</h3>
    <%= link_to 'Subscribe', new_user_registration_path(:plan => 'platinum'), :class => 'btn btn-primary' %> 
  </div>
</div>
</div>
-->