/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
@import "bootstrap-sprockets";
@import "bootstrap";

.navbar{
	margin-bottom:0;
	background:#444;
	color:#fff;
	border-color:none;
	border-radius: 0;
	border-width: 0;
	border-bottom:1px solid #222;
	height:65px;
}

.navbar .container{
	position: relative;
}

.navbar-brand{
	text-indent: -999em;
	overflow: hidden;
	height:108px;
	width:108px;
	background-image:image-url('beerbox-logo-small.png');
	background-repeat: no-repeat;
	display: block;
	position: absolute;
	top:10px;
	left:0;
}

.navbar-nav > li > a{
	padding-top:20px;
	padding-bottom:20px;	
}

.navbar-default .navbar-nav > li > a{
	color:#eee;
}
.navbar-default .navbar-nav > li > a:hover{
	color:#ccc;
}







